/*  change prose width for shiggles */
.max-w-prose {
	max-width: 120ch !important;
}

.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

figure.graph path {
	stroke: var(--tw-prose-body);
}

figure.graph use {
	fill: var(--tw-prose-body);
}
